<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <style>
    /* unvisited link */
    a:link {
      color: lightblue;
    }
    
    /* visited link */
    a:visited {
      color: #FF4433;
    }
    
    /* mouse over link */
    a:hover {
      color: orange;
    }
    
    /* selected link */
    a:active {
      color: blue;
    }
    </style>
  </head>
  <body bgcolor='#000'>


    <div class="container-lg px-3 my-5 markdown-body">
        <img src='../gtm-bc-1.jpg' />

      <div style="color:#FFF;">
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href='https://www.youtube.com/channel/UCakSCbFLlRnKnrZAMWNFRQA' style="color:#fff;">[ YouTube |</a>
        <a href='https://www.instagram.com/ghost_town_messengers/' style="color:#fff;"> Instagram </a>
        <a href='https://www.facebook.com/ghosttownmessengers/' style="color:#fff;">| Facebook </a>
        <a href='https://ghosttownmessengers.bandcamp.com/' style="color:#fff;">| Bandcamp ]</a>
        <!-- https://www.reverbnation.com/ghosttownmessengers -->
      </div>

    <br/><br/>
    <hr/>
    <br/><br/>

    <h3 style="color:#FFF;">Upcoming gigs: [2022]</h3>
    <div style="color:#FFF;">Jan 6th 8:30 - 11:40 @ <a href='https://www.theroyalesf.com/' style="color:#blue;">The Royale</a></div><br/>
    <div style="color:#FFF;">Jan 12th 7:00 - 10:00 @ <a href='https://www.cigarbarandgrill.com/' style="color:#blue;">The Cigar Bar</a></div><br/>

    <h3 style="color:#FFF;">Current Members:</h3>
    <ul style="color:#FFF;">
        <li style="color:#FFF;"><a href="https://www.youtube.com/channel/UCK7JlGOlNCG4DKq_3wDP_pw">Jonathan Barkin</a> - Bass</li>
        <li style="color:#FFF;"><a href="https://www.chrisgamper.com/">Chris Gamper</a> - Drums</li>
        <li style="color:#FFF;"><a href="https://davidvwright.bandcamp.com/">DV Wright</a> - Guitar</li>
    </ul>

    <h3 style="color:#FFF;">Live: <small>(2021 Trio)</small></h3>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/QYMXljmcz44" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-4yPMyQo6fo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <h3 style="color:#FFF;">In the Studio:</h3>(2020 full band)

    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=3371989108/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="https://ghosttownmessengers.bandcamp.com/track/be-funkee">Bee Funky</a></iframe>

    <iframe width="424" height="238" src="https://www.youtube.com/embed/dRjyNyLKWpA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br/><br/><br/>


    <h3 style="color:#FFF;">Past gigs:</h3>
    <a href='https://www.catosalehouse.com/' style="color:#fff;">Cato’s Ale House</a><br/>
    <a href='https://www.theroyalesf.com/calendar/ghost-town-messengers' style="color:#fff;">The Royale</a><br/>
    <a href='https://www.cigarbarandgrill.com/event/dec-1-ghost-town-messengers/' style="color:#fff;">The Cigar Bar</a><br/>
    <a href='https://www.ivyroom.com/' style="color:#fff;">Ivyroom</a><br/>

    <br/><br/><br/>

    <br/>

      {% include instagram.html id="B4vpYU1h_Sd" %}

      {{ content }}
    </div>
    <script async src="//www.instagram.com/embed.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
